



<h2 align="center">
    Project: Intermediate SQL Queries - #2
</h2>

**Project Description:**

To work with the New York City Airbnb dataset in this project, we need to create and connect to an SQLite database as seen in the steps within this notebook.



**Dataset**
- You can find the New York City Airbnb dataset on Kaggle: [New York City Airbnb Dataset](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data)
- Download the dataset from the provided link and save it as 'AB_NYC_2019.csv' on your computer.
- On colab, click on the "Upload" button and select the 'AB_NYC_2019.csv' file from your local computer.

## Introduction
In this project, we will work with the New York City Airbnb dataset. Appliying intermediate data analysis tasks.

## Table of Contents
1. [Libraries and Database Setup](#database-setup)
2. [Loading the Dataset](#loading-dataset)
3. [SQL Queries](#sql-queries)
4. [Closing Connection](#closing-connection)
5. [Summary of Intermediate SQL Commands](#summary-commands)

# Section 1: Libraries and Database Setup <a name="database-setup"></a>

###  1.1: Import Libraries
Let's start by importing the necessary libraries.

In [1]:
!pip install kaggle
! mkdir ~/.kaggle
#! cp kaggle.json ~/.kaggle/
#! chmod 600 ~/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)

In [2]:
!pip install -q kaggle

In [3]:
from google.colab import files
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [4]:
!kaggle datasets download -d dgomonov/new-york-city-airbnb-open-data

Dataset URL: https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data
License(s): CC0-1.0
Downloading new-york-city-airbnb-open-data.zip to /content
 82% 2.00M/2.44M [00:00<00:00, 3.67MB/s]
100% 2.44M/2.44M [00:00<00:00, 3.80MB/s]

In [8]:
!unzip /content/new-york-city-airbnb-open-data.zip

Archive:  /content/new-york-city-airbnb-open-data.zip
  inflating: AB_NYC_2019.csv
  inflating: New_York_City_.png

In [5]:
import pandas as pd
import numpy as np
import sqlite3

###  1.2: Connect to the Database

Next, establish a connection to the SQLite database named 'airbnb.db'.
Use the sqlite3 library to create a connection object and store it in a variable called 'conn'.

In [6]:


# Connect to the SQLite database
conn = sqlite3.connect('airbnb.db')
cursor = conn.cursor()

# Section 2: Loading the Dataset <a name="loading-dataset"></a>

###  2.1: Load the Dataset
- We work with the 'listings' table from the New York City Airbnb dataset.
- Load the dataset from the CSV file 'AB_NYC_2019.csv' into a DataFrame named 'df'.
- Then, import the DataFrame into the 'listings' table in the database using the to_sql() method.

\\

Use the read_csv() method from pandas to read the CSV file.

In [9]:


# Load the dataset into the SQLite database
data_path = '/content/AB_NYC_2019.csv'
df = pd.read_csv(data_path)
df.to_sql('listings', conn, if_exists='replace', index=False)

48895

# Section 3: Intermediate SQL Tasks <a name="sql-queries"></a>

Query the database using SQL queries to analyze the data in the SQLite database. You can use the sqlite3 library to execute the queries and fetch the results.

###  3.1: Using Subquery for Aggregation
- Find listings with a price greater than or equal to the maximum price of entire home/apartment listings.

In [12]:
df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [15]:
#   the query by adding the SELECT, WHERE, and LIMIT statement

query = """  SELECT id, name, neighbourhood_group, price from listings


 WHERE price >= (select max(price) from listings where room_type='Entire home/apt')


LIMIT 5;
"""

In [16]:


result = pd.read_sql_query(query, conn)
print("\n - Using Subquery for Aggregation:")
print(result)

Example 2 - Using Subquery for Aggregation:
         id                                             name  \
0   7003697              Furnished room in Astoria apartment
1  13894339  Luxury 1 bedroom apt. -stunning Manhattan views
2  22436899                              1-BR Lincoln Center

  neighbourhood_group  price
0              Queens  10000
1            Brooklyn  10000
2           Manhattan  10000

###  3.2: Using CTE for Clarity
- Create a [Common Table Expression (CTE)](https://learnsql.com/blog/what-is-common-table-expression/) for high-priced listings and retrieve details.

In [27]:
#  Complete the query by first finishing the CTE query  by adding the WHERE statement. Then complete the following SELECT AND FROM statements.

query = """

-- Create a common table expression (CTE) to select high-priced listings greater than 500
WITH high_price_listings AS (
    SELECT *
    FROM listings
    WHERE  price > 500 )

-- Select specific columns (id, name, neighbourhood_group, price) from high-priced listings
-- Limit the results to display only the top 5 listings

SELECT id, name, neighbourhood_group, price FROM  high_price_listings LIMIT 5;
"""

In [28]:


result = pd.read_sql_query(query, conn)
print("\n Using CTE for Clarity:")
print(result)

 Using CTE for Clarity:
       id                                   name neighbourhood_group  price
0   19601    perfect for a family or small group            Brooklyn    800
1   68974     Unique spacious loft on the Bowery           Manhattan    575
2   89427                   The Brooklyn Waverly            Brooklyn    650
3  103311      2 BR w/ Terrace @ Box House Hotel            Brooklyn    599
4  174966  Luxury 2Bed/2.5Bath Central Park View           Manhattan   2000

###  3.3: Using GROUP BY and HAVING
-  Count the number of listings in each neighbourhood_group with more than 1000 listings.

In [38]:
# :  the GROUP_BY and the HAVING COUNT statement to 1000 listings

query = """SELECT neighbourhood_group, COUNT(*) AS num_listings
FROM listings
GROUP BY neighbourhood_group
HAVING COUNT(*) >1000;
"""

In [39]:


result = pd.read_sql_query(query, conn)
print("\n - Using GROUP BY and HAVING:")
print(result)

 - Using GROUP BY and HAVING:
  neighbourhood_group  num_listings
0               Bronx          1091
1            Brooklyn         20104
2           Manhattan         21661
3              Queens          5666

###  3.4: Using [CASE Statements](https://www.w3schools.com/sql/sql_case.asp)
- Calculate the count of listings in each neighborhood group categorized into three price ranges: cheap, moderate, and expensive.

In [44]:
#  the third case switch statement for expensive_listings and insert GROUP BY statement

query = """

-- Select the neighborhood_group and use conditional aggregation to count listings in price ranges
SELECT neighbourhood_group,
       SUM(CASE WHEN price <= 100 THEN 1 ELSE 0 END) AS cheap_listings,
       SUM(CASE WHEN price > 100 AND price <= 200 THEN 1 ELSE 0 END) AS moderate_listings,
       SUM( CASE WHEN price > 200 THEN 1 ELSE 0 END) AS expensive_listings
FROM listings

-- Group the data by neighborhood_group to get counts for each group
GROUP BY neighbourhood_group;
"""

In [45]:


result = pd.read_sql_query(query, conn)
print("\nExample 5 - Using CASE Statements:")
print(result)

Example 5 - Using CASE Statements:
  neighbourhood_group  cheap_listings  moderate_listings  expensive_listings
0               Bronx             865                181                  45
1            Brooklyn           11771               6278                2055
2           Manhattan            6921               8803                5937
3              Queens            4101               1243                 322
4       Staten Island             270                 78                  25

From the above, it is found that :
expensive_listings, moderate_listings   are more in Manhattan and cheap_listings  in Brooklyn are more than in any other groups.

###  3.5: Using [Self-Join](https://www.w3schools.com/sql/sql_join_self.asp) for Data Comparison
- Compare the average price of each neighborhood's listings with the overall average price, highlighting neighborhoods with prices higher than the overall average.

In [58]:
query = """
-- Create a common table expression (CTE) to calculate the average prices for each neighborhood
WITH  avg_prices AS (
    SELECT neighbourhood, AVG(price) AS avg_price
    FROM listings
    GROUP BY neighbourhood
)

-- Select the neighborhood, its average price, and the overall average price
SELECT a.neighbourhood, a.avg_price, b.overall_avg_price
FROM avg_prices AS a

-- Self-join with a subquery to retrieve the overall average price
INNER JOIN ( SELECT AVG(price)  AS overall_avg_price FROM listings) AS b  -- No need to group in the subquery for overall average
ON 1=1  -- Join condition not needed for overall average comparison
WHERE a.avg_price > b.overall_avg_price
"""

result = pd.read_sql_query(query, conn)
print(" Using Self-Join for Data Comparison:")
print(result)

 Using Self-Join for Data Comparison:
         neighbourhood   avg_price  overall_avg_price
0              Arverne  171.779221         152.720687
1    Battery Park City  367.557143         152.720687
2              Bayside  157.948718         152.720687
3         Belle Harbor  171.500000         152.720687
4          Boerum Hill  176.135593         152.720687
5         Breezy Point  213.333333         152.720687
6     Brooklyn Heights  209.064935         152.720687
7      Carroll Gardens  175.914163         152.720687
8              Chelsea  249.738544         152.720687
9            Chinatown  161.497283         152.720687
10         City Island  173.000000         152.720687
11        Civic Center  191.942308         152.720687
12        Clinton Hill  181.893357         152.720687
13         Cobble Hill  211.929293         152.720687
14         Columbia St  162.952381         152.720687
15               DUMBO  196.305556         152.720687
16        East Village  186.083108         152.720687
17        Far Rockaway  165.862069         152.720687
18  Financial District  225.490591         152.720687
19   Flatiron District  341.925000         152.720687
20      Fort Wadsworth  800.000000         152.720687
21             Gowanus  158.801619         152.720687
22            Gramercy  222.754438         152.720687
23   Greenwich Village  263.405612         152.720687
24         Grymes Hill  159.142857         152.720687
25      Hell's Kitchen  204.794178         152.720687
26     Jamaica Estates  182.947368         152.720687
27            Kips Bay  202.408511         152.720687
28     Lighthouse Hill  157.500000         152.720687
29        Little Italy  222.066116         152.720687
30     Lower East Side  186.312843         152.720687
31             Midtown  282.719094         152.720687
32          Mill Basin  179.750000         152.720687
33         Murray Hill  220.958763         152.720687
34            Neponsit  274.666667         152.720687
35                NoHo  295.717949         152.720687
36              Nolita  230.138340         152.720687
37          Park Slope  176.312253         152.720687
38        Prince's Bay  409.500000         152.720687
39    Prospect Heights  173.372549         152.720687
40       Randall Manor  336.000000         152.720687
41           Riverdale  442.090909         152.720687
42            Sea Gate  487.857143         152.720687
43                SoHo  287.103352         152.720687
44      Spuyten Duyvil  154.750000         152.720687
45     Stuyvesant Town  169.108108         152.720687
46    Theater District  248.013889         152.720687
47           Todt Hill  169.000000         152.720687
48             Tribeca  490.638418         152.720687
49     Upper East Side  188.948276         152.720687
50     Upper West Side  210.918316         152.720687
51        Vinegar Hill  187.176471         152.720687
52        West Village  267.682292         152.720687
53         Willowbrook  249.000000         152.720687
54             Woodrow  700.000000         152.720687

In [59]:


result = pd.read_sql_query(query, conn)
print(" Using Self-Join for Data Comparison:")
print(result)

 Using Self-Join for Data Comparison:
         neighbourhood   avg_price  overall_avg_price
0              Arverne  171.779221         152.720687
1    Battery Park City  367.557143         152.720687
2              Bayside  157.948718         152.720687
3         Belle Harbor  171.500000         152.720687
4          Boerum Hill  176.135593         152.720687
5         Breezy Point  213.333333         152.720687
6     Brooklyn Heights  209.064935         152.720687
7      Carroll Gardens  175.914163         152.720687
8              Chelsea  249.738544         152.720687
9            Chinatown  161.497283         152.720687
10         City Island  173.000000         152.720687
11        Civic Center  191.942308         152.720687
12        Clinton Hill  181.893357         152.720687
13         Cobble Hill  211.929293         152.720687
14         Columbia St  162.952381         152.720687
15               DUMBO  196.305556         152.720687
16        East Village  186.083108         152.720687
17        Far Rockaway  165.862069         152.720687
18  Financial District  225.490591         152.720687
19   Flatiron District  341.925000         152.720687
20      Fort Wadsworth  800.000000         152.720687
21             Gowanus  158.801619         152.720687
22            Gramercy  222.754438         152.720687
23   Greenwich Village  263.405612         152.720687
24         Grymes Hill  159.142857         152.720687
25      Hell's Kitchen  204.794178         152.720687
26     Jamaica Estates  182.947368         152.720687
27            Kips Bay  202.408511         152.720687
28     Lighthouse Hill  157.500000         152.720687
29        Little Italy  222.066116         152.720687
30     Lower East Side  186.312843         152.720687
31             Midtown  282.719094         152.720687
32          Mill Basin  179.750000         152.720687
33         Murray Hill  220.958763         152.720687
34            Neponsit  274.666667         152.720687
35                NoHo  295.717949         152.720687
36              Nolita  230.138340         152.720687
37          Park Slope  176.312253         152.720687
38        Prince's Bay  409.500000         152.720687
39    Prospect Heights  173.372549         152.720687
40       Randall Manor  336.000000         152.720687
41           Riverdale  442.090909         152.720687
42            Sea Gate  487.857143         152.720687
43                SoHo  287.103352         152.720687
44      Spuyten Duyvil  154.750000         152.720687
45     Stuyvesant Town  169.108108         152.720687
46    Theater District  248.013889         152.720687
47           Todt Hill  169.000000         152.720687
48             Tribeca  490.638418         152.720687
49     Upper East Side  188.948276         152.720687
50     Upper West Side  210.918316         152.720687
51        Vinegar Hill  187.176471         152.720687
52        West Village  267.682292         152.720687
53         Willowbrook  249.000000         152.720687
54             Woodrow  700.000000         152.720687

# Section 4: Closing the Database Connection <a name="closing-connection"></a>

###  4.1: Close the Cursor and Database Connection
- It's good practice to close the cursor and the database connection when you're done working with the database to free up system resources and maintain proper connection management.

In [ ]:


# Make sure to include these lines of code at the end of your script to properly close the cursor and database connection.
cursor.close()
conn.close()

# Section 5: Summary of Basic SQL Commands <a name="summary-commands"></a>

 Below is a summary of the basic SQL commands used:

** 1.2: Connect to the Database**
- Established a connection to the SQLite database.

** 2.1: Load the Dataset**
- Loaded the dataset into a DataFrame.
- Imported the DataFrame into the database.

** 3.1: Using Subquery for Aggregation**
- SQL Commands: SELECT, FROM, WHERE, Subquery, MAX(), LIMIT
- Description: Find listings with a price greater than or equal to the maximum price of entire home/apartment listings.

** 3.2: Using CTE for Clarity**
- SQL Commands: WITH, Common Table Expression (CTE), SELECT, FROM, LIMIT
- Description: Create a Common Table Expression (CTE) for high-priced listings and retrieve details.

** 3.3: Using GROUP BY and HAVING**
- SQL Commands: SELECT, COUNT(), AS, FROM, GROUP BY, HAVING
- Description: Count the number of listings in each neighbourhood_group with more than 1000 listings.

** 3.4: Using CASE Statements**
- SQL Commands: SELECT, SUM(), CASE, WHEN, THEN, ELSE, END, AS, FROM, GROUP BY
- Description: Calculate the count of listings in each neighborhood group categorized into three price ranges: cheap, moderate, and expensive.

** 3.5: Using Self-Join for Data Comparison**
- SQL Commands: WITH, Common Table Expression (CTE), SELECT, AVG(), AS, INNER JOIN, ON, Self-Join, WHERE
- Description: Compare the average price of each neighborhood's listings with the overall average price, highlighting neighborhoods with prices higher than the overall average.

** 4.1: Close the Cursor and Database Connection**
- Closed the cursor and the database connection.

This summary provides an overview of the intermediate SQL commands used in this project on data analysis tasks.

**THE END**