



<h3 align="center">
    Name: Tejashri Dendi
</h3>



**Project Description:**

To work with the New York City Airbnb dataset in this project, we need to create and connect to an SQLite database



**Dataset**
- You can find the New York City Airbnb dataset on Kaggle: [New York City Airbnb Dataset](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data)
- Download the dataset from the provided link and save it as 'AB_NYC_2019.csv' on your computer.
- On Google Colab, click on the "Upload" button and select the 'AB_NYC_2019.csv' file from your local computer.

In [34]:
! pip install kaggle
! mkdir ~/.kaggle
from google.colab import files
uploaded = files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)
mkdir: cannot create directory ‘/root/.kaggle’: File exists

Saving kaggle.json to kaggle (1).json

Download the dataset from the provided link and save it as 'AB_NYC_2019.csv' on your computer.

In [35]:
!kaggle datasets download -d dgomonov/new-york-city-airbnb-open-data

Dataset URL: https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data
License(s): CC0-1.0
new-york-city-airbnb-open-data.zip: Skipping, found more recently modified local copy (use --force to force download)

In [56]:
!unzip /content/new-york-city-airbnb-open-data.zip

Archive:  /content/new-york-city-airbnb-open-data.zip
replace AB_NYC_2019.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: AB_NYC_2019.csv
replace New_York_City_.png? [y]es, [n]o, [A]ll, [N]one, [r]ename: yes
  inflating: New_York_City_.png

## Introduction
This SQL project  uses a real-world dataset- NewYork City Airbnb dataset  basic data analysis tasks can be performed.
## Table of Contents
1. [Libraries and Database Setup](#database-setup)
2. [Loading the Dataset](#loading-dataset)
3. [SQL Queries](#sql-queries)
4. [Closing Connection](#closing-connection)
5. [Summary of Basic SQL Commands](#summary-commands)

# Section 1: Libraries and Database Setup <a name="database-setup"></a>

###  1.1: Import Libraries
Let's start by importing the necessary libraries.

In [37]:
import pandas as pd
import numpy as np
import sqlite3

###  1.2: Connect to the Database

Next, establish a connection to the SQLite database named 'airbnb.db'.
Use the sqlite3 library to create a connection object and store it in a variable called 'conn'.

In [38]:
# Completed
# Connect to the SQLite database
conn = sqlite3.connect('airbnb.db')

# Section 2: Loading the Dataset <a name="loading-dataset"></a>

###  2.1: Load the Dataset
- We will work with the 'listings' table from the New York City Airbnb dataset.
- Load the dataset from the CSV file 'AB_NYC_2019.csv' into a DataFrame named 'df'.
- Then, import the DataFrame into the 'listings' table in the database using the to_sql() method.

In [39]:

data_path ="/content/AB_NYC_2019.csv"
df = pd.read_csv(data_path)


df.to_sql('listings', conn, if_exists='replace', index=False)

48895

# Section 3: SQL Queries <a name="sql-queries"></a>

Query the database: Write SQL queries to analyze the data in the SQLite database. You can use the sqlite3 library to execute the queries and fetch the results.

###  3.1: Retrieve all Columns
-  an SQL query to retrieve all columns from the 'listings' table.
- Execute the query and display the first 10 rows of the result

Hint: Use SELECTION to select entries from a specified table.

In [40]:
cursor = conn.cursor()

# TODO: Execute an SQL query using the cursor.execute() method to retrieve all columns from listings (don't forget the trailing ';' to finish a query)
cursor.execute("select * from listings;")

# Completed
# Fetch all the results using fetchall()
results = cursor.fetchall()

In [41]:
type(results)

list

In [42]:
results[0]

(2539,
 'Clean & quiet apt home by the park',
 2787,
 'John',
 'Brooklyn',
 'Kensington',
 40.64749,
 -73.97237,
 'Private room',
 149,
 1,
 9,
 '2018-10-19',
 0.21,
 6,
 365)

In [43]:
#  Display the first 10 rows
for i, row in enumerate(results[:10]):
    print(row)

(2539, 'Clean & quiet apt home by the park', 2787, 'John', 'Brooklyn', 'Kensington', 40.64749, -73.97237, 'Private room', 149, 1, 9, '2018-10-19', 0.21, 6, 365)
(2595, 'Skylit Midtown Castle', 2845, 'Jennifer', 'Manhattan', 'Midtown', 40.75362, -73.98377, 'Entire home/apt', 225, 1, 45, '2019-05-21', 0.38, 2, 355)
(3647, 'THE VILLAGE OF HARLEM....NEW YORK !', 4632, 'Elisabeth', 'Manhattan', 'Harlem', 40.80902, -73.9419, 'Private room', 150, 3, 0, None, None, 1, 365)
(3831, 'Cozy Entire Floor of Brownstone', 4869, 'LisaRoxanne', 'Brooklyn', 'Clinton Hill', 40.68514, -73.95976, 'Entire home/apt', 89, 1, 270, '2019-07-05', 4.64, 1, 194)
(5022, 'Entire Apt: Spacious Studio/Loft by central park', 7192, 'Laura', 'Manhattan', 'East Harlem', 40.79851, -73.94399, 'Entire home/apt', 80, 10, 9, '2018-11-19', 0.1, 1, 0)
(5099, 'Large Cozy 1 BR Apartment In Midtown East', 7322, 'Chris', 'Manhattan', 'Murray Hill', 40.74767, -73.975, 'Entire home/apt', 200, 3, 74, '2019-06-22', 0.59, 1, 129)
(5121, 'BlissArtsSpace!', 7356, 'Garon', 'Brooklyn', 'Bedford-Stuyvesant', 40.68688, -73.95596, 'Private room', 60, 45, 49, '2017-10-05', 0.4, 1, 0)
(5178, "Large Furnished Room Near B'way ", 8967, 'Shunichi', 'Manhattan', "Hell's Kitchen", 40.76489, -73.98493, 'Private room', 79, 2, 430, '2019-06-24', 3.47, 1, 220)
(5203, 'Cozy Clean Guest Room - Family Apt', 7490, 'MaryEllen', 'Manhattan', 'Upper West Side', 40.80178, -73.96723, 'Private room', 79, 2, 118, '2017-07-21', 0.99, 1, 0)
(5238, 'Cute & Cozy Lower East Side 1 bdrm', 7549, 'Ben', 'Manhattan', 'Chinatown', 40.71344, -73.99037, 'Entire home/apt', 150, 1, 160, '2019-06-09', 1.33, 4, 188)

###  3.2: Count Total Records
-  an SQL query to count the total number of records in the 'listings' table.
- Execute the query and display the count.

 This query uses the COUNT(*) function to count the total number of records in the "listings" table.

In [44]:
#  Execute the SQL query to count the number of records
cursor.execute("select count(*) from listings;")


count = cursor.fetchone()[0]
# Print the count
print("Total number of records in the 'listings' table:", count)

Total number of records in the 'listings' table: 48895

###  3.3: Top 10 Neighborhoods by Average Price
-  an SQL query to find the top 10 neighborhoods with the highest average listing price.
- Execute the query and display the results.

 The result includes the neighborhood group, neighborhood name, and the average price. Make sure to use GROUP BY and ORDER BY, respectively.

In [45]:
#  Execute the SQL query to find the top 10 neighborhoods with the highest average listing price
cursor.execute("""
    SELECT neighbourhood_group, neighbourhood, AVG(price) AS avg_price
    FROM listings
    group by neighbourhood_group, neighbourhood
    ORDER BY  avg_price DESC
    LIMIT 10;
""")


results = cursor.fetchall()

In [46]:
len(results)

10

In [47]:
# Display the results
for row in results:
    print(row)

('Staten Island', 'Fort Wadsworth', 800.0)
('Staten Island', 'Woodrow', 700.0)
('Manhattan', 'Tribeca', 490.638418079096)
('Brooklyn', 'Sea Gate', 487.85714285714283)
('Bronx', 'Riverdale', 442.09090909090907)
('Staten Island', "Prince's Bay", 409.5)
('Manhattan', 'Battery Park City', 367.5571428571429)
('Manhattan', 'Flatiron District', 341.925)
('Staten Island', 'Randall Manor', 336.0)
('Manhattan', 'NoHo', 295.71794871794873)

###  3.4: Number of Listings by Room Type
-  an SQL query to determine the number of listings available for each room type.
- Execute the query and display the results.

 The COUNT(*) function is used to count the number of records for each room type, and the result is grouped by the room type.

In [48]:
#  Execute the SQL query to determine the number of listings available for each room type (finish the one missing sql command)
cursor.execute("""
    select  room_type, COUNT(*) AS num_listings
    FROM listings
    GROUP BY room_type;
""")


results = cursor.fetchall()

In [49]:
# Display the results
for row in results:
    print(row)

('Entire home/apt', 25409)
('Private room', 22326)
('Shared room', 1160)

###  3.5: Average Number of Reviews per Listing
-  an SQL query to calculate the average number of reviews per listing.
- Execute the query and display the average.

 Use AVG() to find the average of a column and save it via an alias using AS. Make sure to specify the table using FROM.

In [50]:
#  Execute the SQL query to calculate the average number of reviews per listing
cursor.execute("""
    select  number_of_reviews AS avg_reviews
     from listings;
""")


result = cursor.fetchone()
# Print the average number of reviews per listing
print("Average number of reviews per listing:", result[0])

Average number of reviews per listing: 9

###  3.6: Listings with Minimum Number of Reviews
-  an SQL query to find the listings with the minimum number of reviews.
- Execute the query and display the results (limit to 15 rows).

 The subquery (SELECT MIN(number_of_reviews) FROM listings) retrieves the minimum number of reviews from the "listings" table, and the main query filters the rows where number_of_reviews matches the minimum value. Make sure to use WHERE clause.

In [51]:
#  Execute the SQL query to find the listings with the minimum number of reviews
cursor.execute("""
    SELECT id
    FROM listings
    WHERE number_of_reviews = (SELECT MIN(number_of_reviews) FROM listings)
    LIMIT 15;
""")


results = cursor.fetchall()

In [52]:
# Display the results (limit to 15 rows)
for row in results:
    print(row)

(3647,)
(7750,)
(8700,)
(11452,)
(11943,)
(51438,)
(54466,)
(63588,)
(63913,)
(64015,)
(65556,)
(89427,)
(94209,)
(118680,)
(145188,)

###  3.7: Filter Listings by Neighborhood and Maximum Price
-  an SQL query to filter the listings in the 'Chelsea' neighborhood with a maximum price of $200.
- Execute the query and display the results.

The WHERE clause is used to specify the filtering conditions.

In [53]:
#  Execute the SQL query to filter the listings
cursor.execute("""SELECT neighbourhood, price
    FROM listings
    WHERE  neighbourhood = 'Chelsea' AND price <= 200
""")

results = cursor.fetchall()

In [54]:
# Display the results
for row in results:
    print(row)

('Chelsea', 140)
('Chelsea', 150)
('Chelsea', 98)
('Chelsea', 125)
('Chelsea', 123)
('Chelsea', 130)
('Chelsea', 132)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 149)
('Chelsea', 199)
('Chelsea', 195)
('Chelsea', 95)
('Chelsea', 125)
('Chelsea', 139)
('Chelsea', 50)
('Chelsea', 200)
('Chelsea', 130)
('Chelsea', 170)
('Chelsea', 135)
('Chelsea', 125)
('Chelsea', 135)
('Chelsea', 200)
('Chelsea', 199)
('Chelsea', 72)
('Chelsea', 140)
('Chelsea', 155)
('Chelsea', 105)
('Chelsea', 99)
('Chelsea', 179)
('Chelsea', 65)
('Chelsea', 109)
('Chelsea', 200)
('Chelsea', 125)
('Chelsea', 124)
('Chelsea', 160)
('Chelsea', 70)
('Chelsea', 176)
('Chelsea', 160)
('Chelsea', 175)
('Chelsea', 90)
('Chelsea', 125)
('Chelsea', 119)
('Chelsea', 93)
('Chelsea', 93)
('Chelsea', 199)
('Chelsea', 180)
('Chelsea', 200)
('Chelsea', 90)
('Chelsea', 98)
('Chelsea', 96)
('Chelsea', 140)
('Chelsea', 200)
('Chelsea', 76)
('Chelsea', 200)
('Chelsea', 90)
('Chelsea', 90)
('Chelsea', 161)
('Chelsea', 92)
('Chelsea', 200)
('Chelsea', 90)
('Chelsea', 200)
('Chelsea', 84)
('Chelsea', 75)
('Chelsea', 200)
('Chelsea', 189)
('Chelsea', 199)
('Chelsea', 139)
('Chelsea', 90)
('Chelsea', 80)
('Chelsea', 160)
('Chelsea', 150)
('Chelsea', 159)
('Chelsea', 119)
('Chelsea', 110)
('Chelsea', 85)
('Chelsea', 200)
('Chelsea', 180)
('Chelsea', 93)
('Chelsea', 93)
('Chelsea', 90)
('Chelsea', 165)
('Chelsea', 160)
('Chelsea', 93)
('Chelsea', 179)
('Chelsea', 85)
('Chelsea', 175)
('Chelsea', 135)
('Chelsea', 95)
('Chelsea', 150)
('Chelsea', 195)
('Chelsea', 200)
('Chelsea', 95)
('Chelsea', 125)
('Chelsea', 175)
('Chelsea', 115)
('Chelsea', 159)
('Chelsea', 120)
('Chelsea', 160)
('Chelsea', 199)
('Chelsea', 110)
('Chelsea', 160)
('Chelsea', 70)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 175)
('Chelsea', 135)
('Chelsea', 109)
('Chelsea', 199)
('Chelsea', 195)
('Chelsea', 165)
('Chelsea', 163)
('Chelsea', 105)
('Chelsea', 150)
('Chelsea', 150)
('Chelsea', 100)
('Chelsea', 199)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 110)
('Chelsea', 100)
('Chelsea', 130)
('Chelsea', 100)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 145)
('Chelsea', 99)
('Chelsea', 150)
('Chelsea', 155)
('Chelsea', 135)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 170)
('Chelsea', 150)
('Chelsea', 195)
('Chelsea', 170)
('Chelsea', 118)
('Chelsea', 175)
('Chelsea', 200)
('Chelsea', 120)
('Chelsea', 175)
('Chelsea', 135)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 129)
('Chelsea', 129)
('Chelsea', 95)
('Chelsea', 160)
('Chelsea', 140)
('Chelsea', 109)
('Chelsea', 200)
('Chelsea', 116)
('Chelsea', 112)
('Chelsea', 200)
('Chelsea', 129)
('Chelsea', 136)
('Chelsea', 109)
('Chelsea', 193)
('Chelsea', 140)
('Chelsea', 130)
('Chelsea', 180)
('Chelsea', 139)
('Chelsea', 100)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 100)
('Chelsea', 180)
('Chelsea', 182)
('Chelsea', 98)
('Chelsea', 160)
('Chelsea', 150)
('Chelsea', 126)
('Chelsea', 195)
('Chelsea', 100)
('Chelsea', 199)
('Chelsea', 175)
('Chelsea', 195)
('Chelsea', 80)
('Chelsea', 200)
('Chelsea', 50)
('Chelsea', 85)
('Chelsea', 199)
('Chelsea', 170)
('Chelsea', 159)
('Chelsea', 175)
('Chelsea', 145)
('Chelsea', 52)
('Chelsea', 175)
('Chelsea', 81)
('Chelsea', 120)
('Chelsea', 139)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 46)
('Chelsea', 180)
('Chelsea', 120)
('Chelsea', 130)
('Chelsea', 119)
('Chelsea', 70)
('Chelsea', 125)
('Chelsea', 165)
('Chelsea', 65)
('Chelsea', 80)
('Chelsea', 200)
('Chelsea', 84)
('Chelsea', 70)
('Chelsea', 110)
('Chelsea', 142)
('Chelsea', 199)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 175)
('Chelsea', 179)
('Chelsea', 85)
('Chelsea', 165)
('Chelsea', 200)
('Chelsea', 185)
('Chelsea', 100)
('Chelsea', 125)
('Chelsea', 55)
('Chelsea', 75)
('Chelsea', 195)
('Chelsea', 75)
('Chelsea', 100)
('Chelsea', 191)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 175)
('Chelsea', 170)
('Chelsea', 179)
('Chelsea', 105)
('Chelsea', 130)
('Chelsea', 154)
('Chelsea', 85)
('Chelsea', 75)
('Chelsea', 165)
('Chelsea', 165)
('Chelsea', 110)
('Chelsea', 90)
('Chelsea', 70)
('Chelsea', 150)
('Chelsea', 155)
('Chelsea', 185)
('Chelsea', 150)
('Chelsea', 135)
('Chelsea', 199)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 190)
('Chelsea', 175)
('Chelsea', 125)
('Chelsea', 195)
('Chelsea', 90)
('Chelsea', 155)
('Chelsea', 143)
('Chelsea', 150)
('Chelsea', 185)
('Chelsea', 139)
('Chelsea', 175)
('Chelsea', 129)
('Chelsea', 90)
('Chelsea', 109)
('Chelsea', 80)
('Chelsea', 110)
('Chelsea', 180)
('Chelsea', 110)
('Chelsea', 120)
('Chelsea', 179)
('Chelsea', 110)
('Chelsea', 180)
('Chelsea', 200)
('Chelsea', 78)
('Chelsea', 120)
('Chelsea', 150)
('Chelsea', 180)
('Chelsea', 180)
('Chelsea', 125)
('Chelsea', 149)
('Chelsea', 200)
('Chelsea', 181)
('Chelsea', 156)
('Chelsea', 60)
('Chelsea', 150)
('Chelsea', 120)
('Chelsea', 128)
('Chelsea', 165)
('Chelsea', 110)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 95)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 115)
('Chelsea', 196)
('Chelsea', 130)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 125)
('Chelsea', 99)
('Chelsea', 190)
('Chelsea', 175)
('Chelsea', 160)
('Chelsea', 103)
('Chelsea', 100)
('Chelsea', 82)
('Chelsea', 100)
('Chelsea', 90)
('Chelsea', 190)
('Chelsea', 100)
('Chelsea', 89)
('Chelsea', 139)
('Chelsea', 200)
('Chelsea', 57)
('Chelsea', 95)
('Chelsea', 105)
('Chelsea', 134)
('Chelsea', 180)
('Chelsea', 69)
('Chelsea', 195)
('Chelsea', 89)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 180)
('Chelsea', 68)
('Chelsea', 149)
('Chelsea', 150)
('Chelsea', 90)
('Chelsea', 85)
('Chelsea', 149)
('Chelsea', 90)
('Chelsea', 140)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 185)
('Chelsea', 130)
('Chelsea', 135)
('Chelsea', 175)
('Chelsea', 189)
('Chelsea', 49)
('Chelsea', 65)
('Chelsea', 140)
('Chelsea', 140)
('Chelsea', 105)
('Chelsea', 155)
('Chelsea', 100)
('Chelsea', 130)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 128)
('Chelsea', 110)
('Chelsea', 169)
('Chelsea', 175)
('Chelsea', 170)
('Chelsea', 40)
('Chelsea', 164)
('Chelsea', 162)
('Chelsea', 195)
('Chelsea', 154)
('Chelsea', 165)
('Chelsea', 75)
('Chelsea', 89)
('Chelsea', 95)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 160)
('Chelsea', 125)
('Chelsea', 195)
('Chelsea', 99)
('Chelsea', 169)
('Chelsea', 165)
('Chelsea', 149)
('Chelsea', 175)
('Chelsea', 110)
('Chelsea', 170)
('Chelsea', 82)
('Chelsea', 95)
('Chelsea', 128)
('Chelsea', 180)
('Chelsea', 85)
('Chelsea', 120)
('Chelsea', 185)
('Chelsea', 159)
('Chelsea', 200)
('Chelsea', 99)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 155)
('Chelsea', 12)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 99)
('Chelsea', 200)
('Chelsea', 109)
('Chelsea', 149)
('Chelsea', 135)
('Chelsea', 115)
('Chelsea', 152)
('Chelsea', 84)
('Chelsea', 110)
('Chelsea', 175)
('Chelsea', 159)
('Chelsea', 88)
('Chelsea', 75)
('Chelsea', 115)
('Chelsea', 150)
('Chelsea', 115)
('Chelsea', 75)
('Chelsea', 84)
('Chelsea', 150)
('Chelsea', 127)
('Chelsea', 63)
('Chelsea', 180)
('Chelsea', 146)
('Chelsea', 98)
('Chelsea', 80)
('Chelsea', 99)
('Chelsea', 80)
('Chelsea', 150)
('Chelsea', 96)
('Chelsea', 186)
('Chelsea', 185)
('Chelsea', 172)
('Chelsea', 199)
('Chelsea', 70)
('Chelsea', 89)
('Chelsea', 70)
('Chelsea', 150)
('Chelsea', 85)
('Chelsea', 190)
('Chelsea', 190)
('Chelsea', 175)
('Chelsea', 120)
('Chelsea', 170)
('Chelsea', 75)
('Chelsea', 140)
('Chelsea', 100)
('Chelsea', 68)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 99)
('Chelsea', 179)
('Chelsea', 199)
('Chelsea', 50)
('Chelsea', 92)
('Chelsea', 69)
('Chelsea', 150)
('Chelsea', 98)
('Chelsea', 115)
('Chelsea', 85)
('Chelsea', 155)
('Chelsea', 165)
('Chelsea', 175)
('Chelsea', 149)
('Chelsea', 120)
('Chelsea', 200)
('Chelsea', 77)
('Chelsea', 150)
('Chelsea', 93)
('Chelsea', 200)
('Chelsea', 85)
('Chelsea', 180)
('Chelsea', 180)
('Chelsea', 167)
('Chelsea', 200)
('Chelsea', 154)
('Chelsea', 175)
('Chelsea', 110)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 91)
('Chelsea', 140)
('Chelsea', 90)
('Chelsea', 175)
('Chelsea', 195)
('Chelsea', 137)
('Chelsea', 65)
('Chelsea', 200)
('Chelsea', 69)
('Chelsea', 165)
('Chelsea', 200)
('Chelsea', 175)
('Chelsea', 100)
('Chelsea', 189)
('Chelsea', 200)
('Chelsea', 180)
('Chelsea', 85)
('Chelsea', 175)
('Chelsea', 125)
('Chelsea', 170)
('Chelsea', 114)
('Chelsea', 66)
('Chelsea', 85)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 139)
('Chelsea', 110)
('Chelsea', 138)
('Chelsea', 133)
('Chelsea', 130)
('Chelsea', 138)
('Chelsea', 160)
('Chelsea', 75)
('Chelsea', 80)
('Chelsea', 68)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 190)
('Chelsea', 190)
('Chelsea', 180)
('Chelsea', 100)
('Chelsea', 92)
('Chelsea', 86)
('Chelsea', 200)
('Chelsea', 99)
('Chelsea', 100)
('Chelsea', 99)
('Chelsea', 99)
('Chelsea', 180)
('Chelsea', 180)
('Chelsea', 175)
('Chelsea', 99)
('Chelsea', 100)
('Chelsea', 180)
('Chelsea', 139)
('Chelsea', 123)
('Chelsea', 65)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 149)
('Chelsea', 80)
('Chelsea', 150)
('Chelsea', 140)
('Chelsea', 149)
('Chelsea', 139)
('Chelsea', 180)
('Chelsea', 83)
('Chelsea', 175)
('Chelsea', 199)
('Chelsea', 140)
('Chelsea', 140)
('Chelsea', 100)
('Chelsea', 75)
('Chelsea', 120)
('Chelsea', 185)
('Chelsea', 170)
('Chelsea', 115)
('Chelsea', 110)
('Chelsea', 150)
('Chelsea', 154)
('Chelsea', 200)
('Chelsea', 99)
('Chelsea', 199)
('Chelsea', 162)
('Chelsea', 99)
('Chelsea', 150)
('Chelsea', 130)
('Chelsea', 110)
('Chelsea', 100)
('Chelsea', 180)
('Chelsea', 195)
('Chelsea', 199)
('Chelsea', 129)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 129)
('Chelsea', 149)
('Chelsea', 149)
('Chelsea', 149)
('Chelsea', 149)
('Chelsea', 159)
('Chelsea', 159)
('Chelsea', 159)
('Chelsea', 134)
('Chelsea', 129)
('Chelsea', 85)
('Chelsea', 159)
('Chelsea', 195)
('Chelsea', 85)
('Chelsea', 140)
('Chelsea', 109)
('Chelsea', 199)
('Chelsea', 159)
('Chelsea', 100)
('Chelsea', 93)
('Chelsea', 89)
('Chelsea', 154)
('Chelsea', 120)
('Chelsea', 199)
('Chelsea', 150)
('Chelsea', 195)
('Chelsea', 180)
('Chelsea', 198)
('Chelsea', 105)
('Chelsea', 85)
('Chelsea', 175)
('Chelsea', 200)
('Chelsea', 89)
('Chelsea', 105)
('Chelsea', 105)
('Chelsea', 125)
('Chelsea', 185)
('Chelsea', 150)
('Chelsea', 67)
('Chelsea', 150)
('Chelsea', 181)
('Chelsea', 109)
('Chelsea', 75)
('Chelsea', 75)
('Chelsea', 155)

# Section 4: Closing the Database Connection <a name="closing-connection"></a>

###  4.1: Close the Cursor and Database Connection
- It's good practice to close the cursor and the database connection when you're done working with the database to free up system resources and maintain proper connection management.

In [55]:

# Properly close the cursor and database connection at the end of  script .
cursor.close()
conn.close()

# Section 5: Summary of Basic SQL Commands <a name="summary-commands"></a>




- Established a connection to the SQLite database.


- Loaded the dataset into a DataFrame.
- Imported the DataFrame into the database.


- Executed a SELECT query to retrieve all columns.


- Executed a SELECT COUNT(*) query to count the total records.


- Executed a SELECT query with GROUP BY, ORDER BY, and LIMIT clauses.


- Executed a SELECT query with COUNT() and GROUP BY.


- Executed a SELECT query with AVG().


- Executed a SELECT query with WHERE and a subquery.


- Executed a SELECT query with WHERE conditions.


- Closed the cursor and the database connection.